@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#player {
  display: inline-block;
  font-family: 'Mrs Sheppards', sans-serif;
  padding: 0.5rem;
  margin-left: 20px;
}
#board {
  height: 60vh;
  width: 60vh;
  max-width: 800px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.container > h1 {
  margin-top: 30px;
  font-size: 3rem;
}

.square > h1 {
  font-family: 'Mrs Sheppards', sans-serif;
  font-size: 5rem;
  color: darkblue;
}

.square {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#square1 {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#square2 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#square3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
#square4 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#square5 {
  border: 1px solid black;
}
#square6 {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#square7 {
  border-right: 1px solid black;
  border-top: 1px solid black;
}
#square8 {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
#square9 {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#reset-btn {
  padding: 10px 20px;
  font-weight: bold;
  background-color: crimson;
  border-radius: 10px;
}
